In [ ]:
import pandas as pd
import numpy as np
import re

In [ ]:
import pandas as pd
file = 'https://raw.githubusercontent.com/Esther-Velasco/mid_term_project/main/wfp_market_food_prices.csv'
df = pd.read_csv(file, sep=',', encoding='latin-1')

# EDA

## Data Exploration

In [ ]:
#checking for duplicates
df.duplicated().sum()

0

In [ ]:
#finding the products names:
commodities = df['cm_name'].unique()
commodities.sort()
commodities

array(['Apples', 'Apples (red)', 'Avocados', 'Bananas',
       'Bananas (medium size)', 'Beans', 'Beans (black)',
       'Beans (butter)', 'Beans (catarino)', 'Beans (dry)',
       'Beans (fava, dry)', 'Beans (green, fresh)', 'Beans (haricot)',
       'Beans (kidney red)', 'Beans (kidney white)', 'Beans (kidney)',
       'Beans (magnum)', 'Beans (mung)', 'Beans (niebe)',
       'Beans (niebe, white)', 'Beans (red)', 'Beans (red, fresh)',
       'Beans (silk red)', 'Beans (string)', 'Beans (sugar) ',
       'Beans (sugar-red)', 'Beans (white)', 'Beans(mash)', 'Beetroots',
       'Blackberry', 'Bread', 'Bread (bakery)', 'Bread (brown)',
       'Bread (common)', 'Bread (first grade flour)',
       'Bread (high grade flour)', 'Bread (khoboz)', 'Bread (pita)',
       'Bread (rye)', 'Bread (shop)', 'Bread (wheat)', 'Broccoli',
       'Buckwheat grits', 'Bulgur', 'Butter', 'Cabbage', 'Carrots',
       'Cashew', 'Cassava', 'Cassava (chikwangue)', 'Cassava (cossette)',
       'Cassava (dry)', 'Cassava (fresh)', 'Cassava flour',
       'Cassava leaves', 'Cassava meal', 'Cassava meal (gari)',
       'Cauliflower', 'Charcoal', 'Cheese', 'Cheese (dry)',
       'Cheese (goat)', 'Cheese (picon)', 'Cheese (white, boiled)',
       'Chickpeas', 'Chickpeas (imported)', 'Chickpeas (local)',
       'Chili (green)', 'Chili (red)', 'Cocoa',
       'Cocoa (powder, not sweetened)', 'Coffee', 'Coffee (instant)',
       'Cornstarch', 'Cotton', 'Cowpeas', 'Cowpeas (brown)',
       'Cowpeas (white)', 'Cucumbers', 'Cucumbers (greenhouse)', 'Curd',
       'Dates', 'Eggplants', 'Eggs', 'Eggs (imported)',
       'Eggs (white, AA)', 'Exchange rate', 'Exchange rate (unofficial)',
       'Fat (salo)', 'Fish', 'Fish (appolo)', 'Fish (bonga)',
       'Fish (canned)', 'Fish (catfish)', 'Fish (dry)', 'Fish (fresh)',
       'Fish (frozen)', 'Fish (red snapper)', 'Fish (salted)',
       'Fish (sardine, canned)', 'Fish (smoked)', 'Fish (snake head)',
       'Fish (tilapia)', 'Fish (tilapia, farmed)', 'Fish (tuna, canned)',
       'Fonio', 'Fuel (diesel)', 'Fuel (gas)', 'Fuel (kerosene)',
       'Fuel (petrol-gasoline)', 'Gari (white)', 'Gari (yellow)',
       'Garlic', 'Garlic (small)', 'Ghee (artificial)', 'Ghee (natural)',
       'Ghee (vanaspati)', 'Groundnuts', 'Groundnuts (Mix)',
       'Groundnuts (large, shelled)', 'Groundnuts (paste)',
       'Groundnuts (shelled)', 'Groundnuts (small, shelled)',
       'Groundnuts (unshelled)', 'Guava', 'Labaneh', 'Lentils',
       'Lentils (imported)', 'Lentils (masur)', 'Lentils (moong)',
       'Lentils (urad)', 'Lettuce', 'Livestock (Goat)',
       'Livestock (Sheep)', 'Livestock (cattle)',
       'Livestock (goat, medium-sized castrated male)', 'Livestock (hen)',
       'Livestock (pig)',
       'Livestock (sheep, medium-sized castrated male)',
       'Livestock (sheep, one-year-old alive female)',
       'Livestock (sheep, two-year-old male)', 'Maize',
       'Maize (imported)', 'Maize (local)', 'Maize (white)',
       'Maize (yellow)', 'Maize flour', 'Maize flour (imported)',
       'Maize flour (white)', 'Maize meal', 'Maize meal (local)',
       'Maize meal (white, breakfast)', 'Maize meal (white, first grade)',
       'Maize meal (white, roller)', 'Maize meal (white, with bran)',
       'Maize meal (white, without bran) ', 'Mangoes', 'Meat (beef)',
       'Meat (beef, canned)', 'Meat (beef, chops with bones)',
       'Meat (beef, first quality)', 'Meat (beef, minced)',
       'Meat (beef, second quality)', 'Meat (beef, without bones)',
       'Meat (buffalo, first quality)', 'Meat (buffalo, second quality)',
       'Meat (camel)', 'Meat (chicken)', 'Meat (chicken, broiler)',
       'Meat (chicken, frozen)', 'Meat (chicken, imported)',
       'Meat (chicken, whole)', 'Meat (goat)', 'Meat (goat, with bones)',
       'Meat (lamb)', 'Meat (mixed, sausage)', 'Meat (mutton)',
       'Meat (pork)', 'Meat (pork, first quality)',
       'Meat (pork, second quality)', 'Meat (pork, with fat)',
       'Meat (veal)', 'Milk', 'Milk (camel)', 'Milk (condensed)',
       'Milk (cow, pasteurized)', 'Milk (non-pasteurized)',
       'Milk (pasteurized)', 'Milk (powder)',
       'Milk (powder, infant formula)', 'Millet', 'Millet (white)',
       'Noodles (short)', 'Oil', 'Oil (cooking)', 'Oil (cotton)',
       'Oil (groundnut)', 'Oil (maize)', 'Oil (mixed)',
       'Oil (mixed, imported)', 'Oil (mustard)', 'Oil (olive)',
       'Oil (palm)', 'Oil (soybean)', 'Oil (sunflower)',
       'Oil (vegetable)', 'Oil (vegetable, imported)',
       'Oil (vegetable, local)', 'Onions', 'Onions (dry, local)',
       'Onions (red)', 'Onions (white)', 'Oranges (big size)', 'Papaya',
       'Parsley', 'Passion fruit', 'Pasta', 'Peanut', 'Peas (dry)',
       'Peas (fresh)', 'Peas (green, dry)', 'Peas (split, dry)',
       'Peas (yellow)', 'Peas (yellow, split)', 'Peppers (green)',
       'Plantains', 'Plantains (apentu)', 'Potatoes', 'Potatoes (Dutch)',
       'Potatoes (Irish)', 'Potatoes (Irish, imilla)', 'Potatoes (black)',
       'Potatoes (medium size)', 'Potatoes (unica)', 'Poultry', 'Pulses',
       'Pumpkin', 'Rice', 'Rice (basmati, broken)', 'Rice (carolina 2da)',
       'Rice (coarse)', 'Rice (denikassia, imported)',
       'Rice (estaquilla)', 'Rice (glutinous, first quality)',
       'Rice (glutinous, second quality)', 'Rice (glutinous, unmilled)',
       'Rice (good quality)', 'Rice (high quality)',
       'Rice (high quality, local)', 'Rice (imported)',
       'Rice (imported, Egyptian)', 'Rice (imported, Indian)',
       'Rice (imported, Tanzanian)', 'Rice (local)', 'Rice (long grain)',
       'Rice (long grain, imported)', 'Rice (low quality)',
       'Rice (low quality, local)', 'Rice (medium grain)',
       'Rice (medium grain, imported)', 'Rice (milled 80-20)',
       'Rice (mixed, low quality)', 'Rice (ordinary, first quality)',
       'Rice (ordinary, second quality)', 'Rice (ordinary, unmilled)',
       'Rice (paddy)', 'Rice (paddy, long grain, local)',
       'Rice (red nadu)', 'Rice (regular, milled)',
       'Rice (small grain, imported)', 'Rice (tchako)', 'Rice (white)',
       'Rice (white, imported)', 'Salt', 'Salt (iodised)', 'Sesame',
       'Sorghum', 'Sorghum (berbere)', 'Sorghum (brown)',
       'Sorghum (food aid)', 'Sorghum (red)', 'Sorghum (taghalit)',
       'Sorghum (white)', 'Sorghum flour', 'Sour cream', 'Soybeans',
       'Spinach', 'Sugar', 'Sugar (brown)', 'Sugar (brown, imported)',
       'Sugar (brown, loaf)', 'Sugar (brown, local)',
       'Sugar (jaggery/gur)', 'Sugar (white)', 'Sweet potatoes',
       'Tamarillos/tree tomatoes', 'Tea', 'Tea (black)', 'Tea (green)',
       'Tea (sahm)', 'Tomatoes', 'Tomatoes (greenhouse)',
       'Tomatoes (paste)', 'Tortilla (maize)', 'Transport (public)',
       'Wage (non-qualified labour)',
       'Wage (non-qualified labour, non-agricultural)',
       'Wage (qualified labour)', 'Water (drinking)', 'Wheat',
       'Wheat flour', 'Wheat flour (first grade)',
       'Wheat flour (high quality)', 'Wheat flour (imported)',
       'Wheat flour (local)', 'Wheat flour (locally processed)', 'Yam',
       'Yam (Abuja)', 'Yam (florido)', 'Yogurt', 'Zucchini'], dtype=object)

In [ ]:
#finding the countries names:
countries = list(df['adm0_name'].unique())
countries

['Afghanistan',
 'Algeria',
 'Armenia',
 'Azerbaijan',
 'Bangladesh',
 'Benin',
 'Bhutan',
 'Bolivia',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Cape Verde',
 'Central African Republic',
 'Chad',
 'Colombia',
 'Congo',
 'Costa Rica',
 "Cote d'Ivoire",
 'Democratic Republic of the Congo',
 'Djibouti',
 'El Salvador',
 'Ethiopia',
 'Gambia',
 'Georgia',
 'Ghana',
 'Guatemala',
 'Guinea-Bissau',
 'Guinea',
 'Haiti',
 'Honduras',
 'India',
 'Indonesia',
 'Iran  (Islamic Republic of)',
 'Iraq',
 'Jordan',
 'Kenya',
 'Kyrgyzstan',
 "Lao People's Democratic Republic",
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Madagascar',
 'Malawi',
 'Mali',
 'Mauritania',
 'Mozambique',
 'Myanmar',
 'Nepal',
 'Niger',
 'Nigeria',
 'Pakistan',
 'Panama',
 'Peru',
 'Philippines',
 'Rwanda',
 'Senegal',
 'Somalia',
 'Sri Lanka',
 'Swaziland',
 'Syrian Arab Republic',
 'Tajikistan',
 'Timor-Leste',
 'Turkey',
 'Uganda',
 'Ukraine',
 'United Republic of Tanzania',
 'Yemen',
 'Zambia',
 'Zimbabwe',
 'State of Palestine',
 'Sudan',
 'Egypt',
 'South Sudan']

In [ ]:
#df.loc[df['adm0_name'] == 'State of Palestine'].count()
print(1/(700000 / 2348))

In [ ]:
df['mp_year'].unique() #years are 1992-2017

array([2014, 2015, 2016, 2017, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
       2010, 2011, 2012, 2013, 2000, 2001, 2002, 1996, 1997, 1998, 1999,
       1992, 1993, 1994, 1995])

In [ ]:
df.isna().sum()#checking for Null values

adm0_id                   0
adm0_name                 0
adm1_id                   0
adm1_name             13949
mkt_id                    0
mkt_name                  0
cm_id                     0
cm_name                   0
cur_id                    0
cur_name                  0
pt_id                     0
pt_name                   0
um_id                     0
um_name                   0
mp_month                  0
mp_year                   0
mp_price                  0
mp_commoditysource        0
dtype: int64

## Data Cleaning

In [ ]:
#removing unnecessery columns
df.drop(columns=['mkt_id', 'mkt_name', 'adm1_id', 'adm1_name', 'mp_month', 'mp_commoditysource'],inplace = True)
df.head(1)

,adm0_id,adm0_name,cm_id,cm_name,cur_id,cur_name,pt_id,pt_name,um_id,um_name,mp_year,mp_price
0,1,Afghanistan,55,Bread,87,AFN,15,Retail,5,KG,2014,50.0

In [ ]:
#pd.isin - The result will only be True at a location if all the labels match.
mask = df['cm_name'].isin(['Transport (public)','Cotton','Charcoal', 'Fuel (gas)',
                           'Fuel (diesel)', 'Fuel (petrol-gasoline)', 'Fuel (kerosene)',
                           'Wage (qualified labour)', 'Wage (non-qualified labour, non-agricultural)',
                           'Wage (non-qualified labour)','Exchange rate (unofficial)','Exchange rate'])
df = df[~mask] #redefining the dataframe as the rows where the mask is False

In [ ]:
df.drop_duplicates(inplace = True)

In [ ]:
df.reindex()

,adm0_id,adm0_name,cm_id,cm_name,cur_id,cur_name,pt_id,pt_name,um_id,um_name,mp_year,mp_price
0,1,Afghanistan,55,Bread,87,AFN,15,Retail,5,KG,2014,50.00
12,1,Afghanistan,55,Bread,87,AFN,15,Retail,5,KG,2015,50.00
19,1,Afghanistan,55,Bread,87,AFN,15,Retail,5,KG,2015,56.25
20,1,Afghanistan,55,Bread,87,AFN,15,Retail,5,KG,2015,65.25
21,1,Afghanistan,55,Bread,87,AFN,15,Retail,5,KG,2015,55.50
...,...,...,...,...,...,...,...,...,...,...,...,...
743902,70001,South Sudan,156,Sesame,83,SSP,15,Retail,47,3.5 KG,2016,100.00
743903,70001,South Sudan,156,Sesame,83,SSP,15,Retail,47,3.5 KG,2016,121.00
743904,70001,South Sudan,156,Sesame,83,SSP,15,Retail,47,3.5 KG,2016,115.00
743906,70001,South Sudan,156,Sesame,83,SSP,15,Retail,47,3.5 KG,2017,425.00
743907,70001,South Sudan,156,Sesame,83,SSP,15,Retail,47,3.5 KG,2017,443.00

##Data Transformation

In [ ]:
re.split(r'[^\w]+','Rice_basmati (long grain)') #splitting the string into words

['Rice_basmati', 'long', 'grain', '']

In [ ]:
#'sour cream' and 'sweet potato' are the only cases that break the pattern
df['cm_name'].replace(to_replace='Sweet potatoes', value='sweet_potatoes',inplace=True)
df['cm_name'].replace(to_replace='Sour cream', value='sour_cream',inplace=True)
df['cm_name'].replace(to_replace='Passion fruit', value='passion fruit',inplace=True)

In [ ]:
#Use regex to standardize the commodity names on type and
def split_type(commodity_):
  type_ = re.split(r'[^\w]+',commodity_)
  return type_[0].lower()

df['cm_name'] = df['cm_name'].apply(split_type)

In [ ]:
types = df['cm_name'].unique()
types.sort()
types

array(['apples', 'avocados', 'bananas', 'beans', 'beetroots',
       'blackberry', 'bread', 'broccoli', 'buckwheat', 'bulgur', 'butter',
       'cabbage', 'carrots', 'cashew', 'cassava', 'cauliflower', 'cheese',
       'chickpeas', 'chili', 'cocoa', 'coffee', 'cornstarch', 'cowpeas',
       'cucumbers', 'curd', 'dates', 'eggplants', 'eggs', 'fat', 'fish',
       'fonio', 'gari', 'garlic', 'ghee', 'groundnuts', 'guava',
       'labaneh', 'lentils', 'lettuce', 'livestock', 'maize', 'mangoes',
       'meat', 'milk', 'millet', 'noodles', 'oil', 'onions', 'oranges',
       'papaya', 'parsley', 'passion', 'pasta', 'peanut', 'peas',
       'peppers', 'plantains', 'potatoes', 'poultry', 'pulses', 'pumpkin',
       'rice', 'salt', 'sesame', 'sorghum', 'sour_cream', 'soybeans',
       'spinach', 'sugar', 'sweet_potatoes', 'tamarillos', 'tea',
       'tomatoes', 'tortilla', 'water', 'wheat', 'yam', 'yogurt',
       'zucchini'], dtype=object)

### Merging Tables

In [ ]:
#Upload exchange rate data
er_df= pd.read_csv("https://raw.githubusercontent.com/Esther-Velasco/mid_term_project/main/API_PA.NUS.FCRF_DS2_en_csv_v2_5996111.csv", sep=',',skiprows=3)

In [ ]:
#drop years not needed:
er_df.drop(['Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '2018','2019', '2020', '2021',
        '2022','Unnamed: 67'], axis=1, inplace=True)

In [ ]:
#To identify the country names that are written differently between dataframes:
#saving each unique in a list:
countries_official = list(df["adm0_name"].unique())

In [ ]:
countries_to_change = list(er_df["Country Name"].unique())
countries_official, countries_to_change = [i for i in countries_official if i not in countries_to_change], [j for j in countries_to_change if j not in countries_official]
countries_official  #making an exception for "State of Palestine" to fill in the data

['Cape Verde',
 'Congo',
 'Democratic Republic of the Congo',
 'Gambia',
 'Iran  (Islamic Republic of)',
 'Kyrgyzstan',
 "Lao People's Democratic Republic",
 'Swaziland',
 'Turkey',
 'United Republic of Tanzania',
 'Yemen',
 'State of Palestine',
 'Egypt']

In [ ]:
#merging country names between dataframes:

countries_mapping = {
    'Cabo Verde': 'Cape Verde',
    'Congo, Rep.': 'Congo',
    'Congo, Dem. Rep.': 'Democratic Republic of the Congo',
    'Gambia, The': 'Gambia',
    'Iran, Islamic Rep.': 'Iran  (Islamic Republic of)',
    'Kyrgyz Republic':'Kyrgyzstan',
    "Lao PDR":"Lao People's Democratic Republic",
    'Eswatini':'Swaziland',
    'Turkiye':'Turkey',
 'Tanzania':'United Republic of Tanzania',
 'Yemen, Rep.':'Yemen',
 'Egypt, Arab Rep.':'Egypt'
}

# Using the .replace() to replace values in the 'gender' column

er_df['Country Name'] = er_df['Country Name'].replace(countries_mapping)

#to check if changes were saved
er_df['Country Name'].unique()

array(['Aruba', 'Africa Eastern and Southern', 'Afghanistan',
       'Africa Western and Central', 'Angola', 'Albania', 'Andorra',
       'Arab World', 'United Arab Emirates', 'Argentina', 'Armenia',
       'American Samoa', 'Antigua and Barbuda', 'Australia', 'Austria',
       'Azerbaijan', 'Burundi', 'Belgium', 'Benin', 'Burkina Faso',
       'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas, The',
       'Bosnia and Herzegovina', 'Belarus', 'Belize', 'Bermuda',
       'Bolivia', 'Brazil', 'Barbados', 'Brunei Darussalam', 'Bhutan',
       'Botswana', 'Central African Republic', 'Canada',
       'Central Europe and the Baltics', 'Switzerland', 'Channel Islands',
       'Chile', 'China', "Cote d'Ivoire", 'Cameroon',
       'Democratic Republic of the Congo', 'Congo', 'Colombia', 'Comoros',
       'Cape Verde', 'Costa Rica', 'Caribbean small states', 'Cuba',
       'Curacao', 'Cayman Islands', 'Cyprus', 'Czechia', 'Germany',
       'Djibouti', 'Dominica', 'Denmark', 'Dominican Republic', 'Algeria',
       'East Asia & Pacific (excluding high income)',
       'Early-demographic dividend', 'East Asia & Pacific',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia', 'Ecuador', 'Egypt', 'Euro area',
       'Eritrea', 'Spain', 'Estonia', 'Ethiopia', 'European Union',
       'Fragile and conflict affected situations', 'Finland', 'Fiji',
       'France', 'Faroe Islands', 'Micronesia, Fed. Sts.', 'Gabon',
       'United Kingdom', 'Georgia', 'Ghana', 'Gibraltar', 'Guinea',
       'Gambia', 'Guinea-Bissau', 'Equatorial Guinea', 'Greece',
       'Grenada', 'Greenland', 'Guatemala', 'Guam', 'Guyana',
       'High income', 'Hong Kong SAR, China', 'Honduras',
       'Heavily indebted poor countries (HIPC)', 'Croatia', 'Haiti',
       'Hungary', 'IBRD only', 'IDA & IBRD total', 'IDA total',
       'IDA blend', 'Indonesia', 'IDA only', 'Isle of Man', 'India',
       'Not classified', 'Ireland', 'Iran  (Islamic Republic of)', 'Iraq',
       'Iceland', 'Israel', 'Italy', 'Jamaica', 'Jordan', 'Japan',
       'Kazakhstan', 'Kenya', 'Kyrgyzstan', 'Cambodia', 'Kiribati',
       'St. Kitts and Nevis', 'Korea, Rep.', 'Kuwait',
       'Latin America & Caribbean (excluding high income)',
       "Lao People's Democratic Republic", 'Lebanon', 'Liberia', 'Libya',
       'St. Lucia', 'Latin America & Caribbean',
       'Least developed countries: UN classification', 'Low income',
       'Liechtenstein', 'Sri Lanka', 'Lower middle income',
       'Low & middle income', 'Lesotho', 'Late-demographic dividend',
       'Lithuania', 'Luxembourg', 'Latvia', 'Macao SAR, China',
       'St. Martin (French part)', 'Morocco', 'Monaco', 'Moldova',
       'Madagascar', 'Maldives', 'Middle East & North Africa', 'Mexico',
       'Marshall Islands', 'Middle income', 'North Macedonia', 'Mali',
       'Malta', 'Myanmar',
       'Middle East & North Africa (excluding high income)', 'Montenegro',
       'Mongolia', 'Northern Mariana Islands', 'Mozambique', 'Mauritania',
       'Mauritius', 'Malawi', 'Malaysia', 'North America', 'Namibia',
       'New Caledonia', 'Niger', 'Nigeria', 'Nicaragua', 'Netherlands',
       'Norway', 'Nepal', 'Nauru', 'New Zealand', 'OECD members', 'Oman',
       'Other small states', 'Pakistan', 'Panama', 'Peru', 'Philippines',
       'Palau', 'Papua New Guinea', 'Poland', 'Pre-demographic dividend',
       'Puerto Rico', "Korea, Dem. People's Rep.", 'Portugal', 'Paraguay',
       'West Bank and Gaza', 'Pacific island small states',
       'Post-demographic dividend', 'French Polynesia', 'Qatar',
       'Romania', 'Russian Federation', 'Rwanda', 'South Asia',
       'Saudi Arabia', 'Sudan', 'Senegal', 'Singapore', 'Solomon Islands',
       'Sierra Leone', 'El Salvador', 'San Marino', 'Somalia', 'Serbia',
       'Sub-Saharan Africa (excluding high income)', 'South Sudan',
       'Sub-Saharan Africa', 'Small states', 'Sao Tome and Principe',
       'Suriname', 'Slovak Republic', 'Slovenia', 'Sweden', 'Swaziland',
       'Sint Maarten (Dutch part)', 'Seychelles', 'Syrian Arab Republic',
       'Turks and Caicos Islands', 'Chad',
       'East Asia & Pacific (IDA & IBRD countries)',
       'Europe & Central Asia (IDA & IBRD countries)', 'Togo', 'Thailand',
       'Tajikistan', 'Turkmenistan',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Timor-Leste', 'Middle East & North Africa (IDA & IBRD countries)',
       'Tonga', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Tuvalu', 'United Republic of Tanzania',
       'Uganda', 'Ukraine', 'Upper middle income', 'Uruguay',
       'United States', 'Uzbekistan', 'St. Vincent and the Grenadines',
       'Venezuela, RB', 'British Virgin Islands', 'Virgin Islands (U.S.)',
       'Viet Nam', 'Vanuatu', 'World', 'Samoa', 'Kosovo', 'Yemen',
       'South Africa', 'Zambia', 'Zimbabwe'], dtype=object)

In [ ]:
#get only the countries that I have in the currency_dataframe
#pd.isin - The result will only be True at a location if all the labels match.
mask = er_df['Country Name'].isin(['Afghanistan', 'Algeria', 'Armenia', 'Azerbaijan', 'Bangladesh',
       'Benin', 'Bhutan', 'Bolivia', 'Burkina Faso', 'Burundi',
       'Cambodia', 'Cameroon', 'Cape Verde', 'Central African Republic',
       'Chad', 'Colombia', 'Congo', 'Costa Rica', "Cote d'Ivoire",
       'Democratic Republic of the Congo', 'Djibouti', 'El Salvador',
       'Ethiopia', 'Gambia', 'Georgia', 'Ghana', 'Guatemala',
       'Guinea-Bissau', 'Guinea', 'Haiti', 'Honduras', 'India',
       'Indonesia', 'Iran  (Islamic Republic of)', 'Iraq', 'Jordan',
       'Kenya', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Lebanon', 'Lesotho', 'Liberia', 'Madagascar', 'Malawi', 'Mali',
       'Mauritania', 'Mozambique', 'Myanmar', 'Nepal', 'Niger', 'Nigeria',
       'Pakistan', 'Panama', 'Peru', 'Philippines', 'Rwanda', 'Senegal',
       'Somalia', 'Sri Lanka', 'Swaziland', 'Syrian Arab Republic',
       'Tajikistan', 'Timor-Leste', 'Turkey', 'Uganda', 'Ukraine',
       'United Republic of Tanzania', 'Yemen', 'Zambia', 'Zimbabwe',
       'State of Palestine', 'Sudan', 'Egypt', 'South Sudan'])
er_df = er_df[mask]

In [ ]:
#now we join the two df!!!!
dfp= pd.merge(df, er_df, left_on='adm0_name', right_on='Country Name')
dfp.columns

Index(['adm0_id', 'adm0_name', 'cm_id', 'cm_name', 'cur_id', 'cur_name',
       'pt_id', 'pt_name', 'um_id', 'um_name', 'mp_year', 'mp_price',
       'Country Name', 'Country Code', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017'],
      dtype='object')

In [ ]:
dfp.drop(['Country Name','Country Code'],axis=1, inplace=True)

In [ ]:
#Nicer names for our columns in our merged dfp
dfp.rename(columns= {"adm0_id": "country_id",
                     "adm0_name":"country_name",
                     "cm_id":"commodity_id",
                     "cm_name":"commodity_name",
                     "cur_id":"currency_id",
                     "cur_name": "currency_name",
                     "pt_id": "market_id",
                     "pt_name": "market_type",
                     "um_id": "unit_id",
                     "um_name":"unit_name",
                     "mp_year": "year",
                     'mp_price': "price_local",
                     "1992": "1992_xe",
                     "1993":"1993_xe",
                     "1994":"1994_xe",
                     "1995":"1995_xe",
                     "1996":"1996_xe",
                     "1997":"1997_xe",
                     "1998":"1998_xe",
                     "1999":"1999_xe",
                     "2000" : "2000_xe",
                     "2001" : "2001_xe",
                     "2002" : "2002_xe",
                     "2003":"2003_xe",
                     "2004":"2004_xe",
                     "2005":"2005_xe",
                     "2006":"2006_xe",
                     "2007":"2007_xe",
                     "2008":"2008_xe",
                     "2009":"2009_xe",
                     "2010":"2010_xe",
                     "2011":"2011_xe",
                     "2012":"2012_xe",
                     "2013":"2013_xe",
                     "2014":"2014_xe",
                     "2015":"2015_xe",
                     "2016":"2016_xe",
                     "2017":"2017_xe"}, inplace=True)
dfp

,country_id,country_name,commodity_id,commodity_name,currency_id,currency_name,market_id,market_type,unit_id,unit_name,...,2008_xe,2009_xe,2010_xe,2011_xe,2012_xe,2013_xe,2014_xe,2015_xe,2016_xe,2017_xe
0,1,Afghanistan,55,bread,87,AFN,15,Retail,5,KG,...,50.249615,50.325,46.452461,46.747008,50.9214,55.3775,57.2475,61.143462,67.866086,68.026904
1,1,Afghanistan,55,bread,87,AFN,15,Retail,5,KG,...,50.249615,50.325,46.452461,46.747008,50.9214,55.3775,57.2475,61.143462,67.866086,68.026904
2,1,Afghanistan,55,bread,87,AFN,15,Retail,5,KG,...,50.249615,50.325,46.452461,46.747008,50.9214,55.3775,57.2475,61.143462,67.866086,68.026904
3,1,Afghanistan,55,bread,87,AFN,15,Retail,5,KG,...,50.249615,50.325,46.452461,46.747008,50.9214,55.3775,57.2475,61.143462,67.866086,68.026904
4,1,Afghanistan,55,bread,87,AFN,15,Retail,5,KG,...,50.249615,50.325,46.452461,46.747008,50.9214,55.3775,57.2475,61.143462,67.866086,68.026904
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365617,70001,South Sudan,156,sesame,83,SSP,15,Retail,47,3.5 KG,...,NaN,NaN,NaN,2.988950,2.9500,2.9500,2.9500,3.604167,46.729167,113.647500
365618,70001,South Sudan,156,sesame,83,SSP,15,Retail,47,3.5 KG,...,NaN,NaN,NaN,2.988950,2.9500,2.9500,2.9500,3.604167,46.729167,113.647500
365619,70001,South Sudan,156,sesame,83,SSP,15,Retail,47,3.5 KG,...,NaN,NaN,NaN,2.988950,2.9500,2.9500,2.9500,3.604167,46.729167,113.647500
365620,70001,South Sudan,156,sesame,83,SSP,15,Retail,47,3.5 KG,...,NaN,NaN,NaN,2.988950,2.9500,2.9500,2.9500,3.604167,46.729167,113.647500
365621,70001,South Sudan,156,sesame,83,SSP,15,Retail,47,3.5 KG,...,NaN,NaN,NaN,2.988950,2.9500,2.9500,2.9500,3.604167,46.729167,113.647500

# Analysis

## Grouping and aggregation

In [ ]:
#converting from local currencies to USD for clearer scale

def convert_to_usd(index,local_price,year):
  year_xe = str(year)+'_xe' #jury rigging
  xe = dfp.loc[index,year_xe]
  price_usd = round(local_price / xe,2)
  return price_usd

#dfp["price_usd"] = dfp.apply(lambda x: convert_to_usd(index=x,local_price=dfp[x]['price_local'],year=dfp[x]['year']))
dfp['price_usd'] = dfp.index.to_series().apply(lambda x : convert_to_usd(index=x,local_price=dfp.iloc[x,11],year=dfp.iloc[x,10]))
dfp.head()

,country_id,country_name,commodity_id,commodity_name,currency_id,currency_name,market_id,market_type,unit_id,unit_name,...,2009_xe,2010_xe,2011_xe,2012_xe,2013_xe,2014_xe,2015_xe,2016_xe,2017_xe,price_usd
0,1,Afghanistan,55,bread,87,AFN,15,Retail,5,KG,...,50.325,46.452461,46.747008,50.9214,55.3775,57.2475,61.143462,67.866086,68.026904,0.87
1,1,Afghanistan,55,bread,87,AFN,15,Retail,5,KG,...,50.325,46.452461,46.747008,50.9214,55.3775,57.2475,61.143462,67.866086,68.026904,0.82
2,1,Afghanistan,55,bread,87,AFN,15,Retail,5,KG,...,50.325,46.452461,46.747008,50.9214,55.3775,57.2475,61.143462,67.866086,68.026904,0.92
3,1,Afghanistan,55,bread,87,AFN,15,Retail,5,KG,...,50.325,46.452461,46.747008,50.9214,55.3775,57.2475,61.143462,67.866086,68.026904,1.07
4,1,Afghanistan,55,bread,87,AFN,15,Retail,5,KG,...,50.325,46.452461,46.747008,50.9214,55.3775,57.2475,61.143462,67.866086,68.026904,0.91

# Visualizations

In [ ]:
#importing wages
import pandas as pd
file = 'https://raw.githubusercontent.com/Esther-Velasco/mid_term_project/main/wfp_market_food_prices.csv'
df = pd.read_csv(file, sep=',', encoding='latin-1')